<<<<<<< HEAD
<nav class="navbar is-success has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="apple-logo.png" alt="logo" />
    </a>
    <div for="menu-toggle" class="navbar-burger burger" style="color: $grey-dark">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenu" class="navbar-menu navbar-end">
  <div class="navbar-item has-dropdown is-hoverable is-hidden-mobile">
      <div class="navbar-link is-arrowless">
        Nama User
      </div>
      <div class="navbar-dropdown">
        <a class="navbar-item">
          <div>
            <span class="icon is-small">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            Profile
          </div>
        </a>
        <a class="navbar-item">
          <div>
            <span class="icon is-small">
              <i class="fa fa-bug">  </i>
            </span>
            Report Bug
          </div>
        </a>
        <a class="navbar-item">
          <div>
            <span class="icon is-small">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </span>
            Sign Out
          </div>
        </a>
      </div>
    </div>
    <a class="navbar-item is-hidden-tablet">
      <span class="icon"><i class="fa fa-home"></i></span> Home
    </a>
    <a class="navbar-item is-hidden-tablet">
      <span class="icon"><i class="fa fa-home"></i></span> Home
    </a>
    <a class="navbar-item is-hidden-tablet">
      <span class="icon"><i class="fa fa-home"></i></span> Home
    </a>

    <a class="navbar-item is-hidden-tablet">
      <div>
        <span class="icon">
          <i class="fa fa-user" aria-hidden="true"></i>
        </span>
        Profile
      </div>
    </a>

    <a class="navbar-item is-hidden-tablet">
      <div>
        <span class="icon">
          <i class="fa fa-sign-out" aria-hidden="true"></i>        
        </span>
        Sign Out
      </div>
    </a>



  </div>
</nav>


<script type="text/javascript">
  $(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});
</script>
=======
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
>>>>>>> 85a322d859d38b3a5a7795615e59718d25bfcf28
